.product-title {
  font-size: 30px;
  margin-top: 10px;
}

.product-description {
  font-size: 20px;
}
.product-features {
  font-size: 18px;
  margin-bottom: 10px;
}
.product-price {
  font-size: 22px;
  margin-bottom: 10px;
  span {
    font-weight: bold;
  }
}
